.bagsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:  100%;

    &__filters {
        display: flex;
        flex-direction: column;
        width: 26%;
    }
    &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 74%;   
    }
}